

// THEME COLORS
$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;

// SPACING
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// BORDERS
$base-border-thickness: 1px;
$base-border-radius: 20px;

// BOX-SHADOW
$base-box-shadow: 1px 3px 5px rgb(0, 0, 0, 0.1);

// FONT SIZES
$base-font-size: 1rem;